.ui-post
    background-color: #fff
    padding: 1rem 2rem !important
    border-radius: 5px
#app
    background:#f3f4f7
body > .github-corner > svg
    z-index: 2021
    position: fixed
.search-box
    margin-right: 80px
